.layout {
    width: 800px;
    height: 400px;
    /* padding: 50px; */
    justify-content: center;
    background-color: var(--body-color);
    border-radius: 20px;
}

.title{
    font-size: 25px;
    font-weight: 700;
    background-color: var(--title-color);
    width: 800px;
    height: 80px;
    border-radius: 20px 20px 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.addtask{
    display: flex;
    justify-content: center;
}